---
title: The History of the Web
---

<%= image_tag 'www.svg', width: '128', class: 'top-svg' %>
<h1>
  The First Web Page
</h1>
<h2> 
  And the History of the Web
</h2>

<%= link_to(
  "The First Website ™",
  "http://info.cern.ch/",
  target: "_blank"
) %>
<br />
<br />
<%= link_to("Next", "tbl_and_the_www.html") %>
